<div class="logincontainer">
  <div class="loginform">
    <h2 class="govuk-heading-l" styles=“align-items:center”>Log In</h2>


    <%= form_tag(access_pharmacy_login_attempt_path, method: :post) do %>
      <table>
        <tr>
          <td> <%= text_field_tag(:name, params[:name], placeholder: "Name") %></td>
        </tr>
        <tr>
          <td> <%= password_field_tag(:password, "", placeholder: "Password") %></td>
        </tr>

        <tr>
          <td> <%= submit_tag("Log In") %></td>
        </tr>
      </table>

    <% end %>

  </div>
</div>
