<tr>
<td class="govuk-table__cell"><%= pharmacy_order.id%></td>
<td class="govuk-table__cell"><%= pharmacy_order.created_at.strftime('%Y-%m-%d')%></td>
<td class="govuk-table__cell"><%= pharmacy_order.status%></td>

</tr>
