footer {
margin-top: 10vh ;
width: 100vw;
}

.logout {
    float: right;
    color: white;
    font-family: GDS Transport, arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}