
<%= link_to "TEST", new_pharmacy_pharmacy_order_path(session[:id])%>
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">ID</th>
      <th scope="col" class="govuk-table__header">Created At</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <%= render @pharmacy.pharmacy_orders.order("created_at DESC")%>
  </tbody>
</table>