<!DOCTYPE html>
<html>
  <head>
    <title>Tests</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>

  <!-- Open java script script tak -->

  <script type='text/javascript' src="govuk-frontend.min.js"></script>
  <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <script>
      window.GOVUKFrontend.initAll()
    </script>
</html>

